@font-face {
  font-family: "강원교육모두";
  src: url("./font/강원교육모두-Bold.woff") format("woff");
}

p.indent {
  text-indent: 40px;
}

p.bold {
  font-weight: bold;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.226);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 30px;
  display: inline-block;
  padding-right: 15%;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  font-family: "강원교육모두";
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: rgb(255, 145, 0);
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  user-select: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-container .text {
  background-color: #00000077;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text1 {
  background-color: #00000077;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  bottom: 8px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
  margin-top: 1em;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

#warning-main {
  font-size: 25px;
  text-align: center;
}

.alert p {
  color: #000000;
  font-size: 18px;
}

.alert a {
  color: #0059ff;
  font-size: 18px;
}

.alert {
  margin: auto;
  width: 60%;
  border: 3px solid #d3be00;
  padding: 10px;
}

#ad01 {
  margin-left: 3%;
  width: 60%;
}

#dsc {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
}

#dsc p {
  margin-left: 5%;
  font-family: "강원교육모두";
  font-size: 22px;
}

hr {
  max-width: 1200px;
  margin: auto;
}

.server-status {
  margin-top: -2em;
}

.server-status #gogo {
  margin-top: -1.25em;
  font-size: 14px;
  text-align: center;
  position: relative;
  left: 25%;
}


.mode {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

.mode-status {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-weight: 600;
}

#mode-con {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 40%;
}

.mode-status .wrapper {
  display: flex;
}

#mode-2 {
  margin-top: 10px;
  margin-bottom: 30px;
  flex-direction: column;
}

#bold {
  font-weight: bold;
}

.big {
  font-size: 20px;
}

.mid {
  font-size: 15px;
}

.small {
  font-size: 12px;
}

#wbox {
  background: repeating-linear-gradient(45deg,
      yellow,
      yellow 10px,
      black 10px,
      black 20px);
  width: 95%;
  max-width: 1140px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  color: white;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wbox p {
  background-color: #ffbb00;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

#mbox p {
  background-color: #ff0000;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 900;
}

#mbox {
  width: 95%;
  max-width: 1140px;
  text-align: center;
  margin: auto;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#nbox p {
  background-color: #55d638;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nbox {
  width: 95%;
  max-width: 1140px;
  text-align: center;
  margin: auto;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#uxbox p {
  background-color: #000000;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 900;
}

#uxbox {
  width: 95%;
  max-width: 1140px;
  text-align: center;
  margin: auto;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#ubox p {
  background-color: #000000;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 900;
}

#ubox {
  width: 95%;
  max-width: 1140px;
  text-align: center;
  margin: auto;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#tail p {
  margin-top: -1px;
  text-align: center;
  color: #717171;
  font-size: 12px;
}

.new {
  border: 1px solid;
  border-radius: 4px;
  color: #d8d8d8;
}

.new img {
  width: 100%;
  max-width: 1000px;
}

.news {
  width: 80%;
  max-width: 1000px;
}

.info {
  position: relative;
  display: flex;
  color: #000000;
  background-color: #efeeec;
}

.info #date {
  position: relative;
  margin-left: auto;
  right: 10px;
  bottom: 10px;
}

.info #title {
  position: relative;
  left: 15px;
  font-size: 24px;
}

.new .text {
  color: #000000;
  margin-left: 2.5%;
  margin-right: 2%;
  font-size: 18px;
  margin-bottom: 20px;
}

.new .text p {
  margin: 0;
  margin-top: 10px;
}

.news .new .info #title::before {
  content: "NEW";
  color: white;
  font-weight: bold;
  background-color: rgb(255, 187, 0);
  width: 40px;
  padding: 3 6px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 5px;
  padding-bottom: 2px;
  margin-right: 15px;
  border-radius: 4px;
  text-align: center;
}

.tools {
  border: 1px solid;
  color: #d8d8d8;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  justify-content: center;
}

.feed {
  display: flex;
  justify-content: center;
  margin-bottom: 8em;
  margin-top: 1em;
}

.tools .social title {
  display: block;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.tools .links img {
  height: 37px;
  padding-bottom: 7px;
}

.tools .links {
  display: flex;
  margin-top: 7px;
  justify-content: space-evenly;
}

.best {
  margin-top: 3px;
  border: 1px solid;
  color: #d8d8d8;
  border-radius: 4px;
}

.best p {
  color: #000000;
  font-size: 14px;
  margin-bottom: -6px;
}

.best title {
  color: #000000;
}

.best .recent title {
  font-size: 20px;
  margin-left: 10px;
}

title {
  display: block;
}

.sub-content {
  margin-left: 3px;
  width: 11%;
  max-width: 200px;
}

.best .list p::before {
  content: "▶  ";
  color: rgb(0, 0, 0);
}

.best .list {
  margin-left: 15px;
}

.best .things button {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 90%;
}

.best .things {
  margin-top: 30px;
  background-color: #717171;
  height: 20px;
  display: flex;
  justify-content: space-between;
}